node_modules/
.github/
static/
plugins/
api/
.editorconfig
.eslintignore
.eslintrc.json
.htmlhintrc
.gitattributes
.gitignore
.nvmrc
importmap.json
importmap.yaml
*.config.js
*.test.js
*.gz
*.tgz
*.log
*.bak
*.env
!*.map
*.csr
*.key
*.crt
